In [44]:
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score

In [109]:
df_final = pd.read_csv('Data/DF_FINAL_Alice.csv')
df_final_12_18 = df_final.loc[(df_final['YEAR'] >= 2012) & (df_final['YEAR'] <= 2018)]
# Contient toutes les années entre 2012 et 2018 inclus soit 7 ans
df_final_grouped_month = df_final_12_18.groupby(['MONTH_NAME', 'MONTH'], as_index=False).agg({'LABEL_3mois': 'sum', 'MEAN_TEMPERATURE': 'sum'})
df_final_grouped_month = df_final_grouped_month.sort_values(['MONTH'], ascending=[True])
moy_par_sem_par_quartier_pour_chaque_mois = pd.DataFrame()
# Par mois, par quartier, par an
moy_par_sem_par_quartier_pour_chaque_mois = df_final_grouped_month['LABEL_3mois'] / (7*77*4.33)
moy_T_par_sem_par_quartier_pour_chaque_mois = df_final_grouped_month['MEAN_TEMPERATURE'] / (7*77*4.33)
pred_mo = df_final['MONTH'] - 1
pred = [moy_par_sem_par_quartier_pour_chaque_mois[i] for i in pred_mo]
# print(pred)
moy_par_sem_par_quartier_pour_chaque_mois

4     10.629127
3     15.529571
7     17.026655
0     19.885426
8     21.423216
6     23.666700
5     25.148359
1     22.601516
11    20.630969
10    17.397284
9     14.604498
2     15.010690
Name: LABEL_3mois, dtype: float64

In [107]:
print(df_final['LABEL_3mois'])

0         6.0
1         2.0
2        11.0
3        16.0
4         2.0
         ...
31488     0.0
31489     0.0
31490     0.0
31491     0.0
31492     0.0
Name: LABEL_3mois, Length: 31493, dtype: float64

In [106]:
r2_score(df_final['LABEL_3mois'], pred)

-0.02751231026374401

In [16]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np

men_means, men_std = (20, 35, 30, 35, 27), (2, 3, 4, 1, 2)
women_means, women_std = (25, 32, 34, 20, 25), (3, 5, 2, 3, 3)

ind = np.arange(len(men_means))  # the x locations for the groups
width = 0.35  # the width of the bars

fig, ax = plt.subplots()
rects1 = ax.bar(ind - width/2, men_means, width, yerr=men_std,
                label='Men')
rects2 = ax.bar(ind + width/2, women_means, width, yerr=women_std,
                label='Women')

# Add some text for labels, title and custom x-axis tick labels, etc.
ax.set_ylabel('Scores')
ax.set_title('Scores by group and gender')
ax.set_xticks(ind)
ax.set_xticklabels(('G1', 'G2', 'G3', 'G4', 'G5'))
ax.legend()


def autolabel(rects, xpos='center'):
    """
    Attach a text label above each bar in *rects*, displaying its height.

    *xpos* indicates which side to place the text w.r.t. the center of
    the bar. It can be one of the following {'center', 'right', 'left'}.
    """

    ha = {'center': 'center', 'right': 'left', 'left': 'right'}
    offset = {'center': 0, 'right': 1, 'left': -1}

    for rect in rects:
        height = rect.get_height()
        ax.annotate('{}'.format(height),
                    xy=(rect.get_x() + rect.get_width() / 2, height),
                    xytext=(offset[xpos]*3, 3),  # use 3 points offset
                    textcoords="offset points",  # in both directions
                    ha=ha[xpos], va='bottom')


autolabel(rects1, "left")
autolabel(rects2, "right")

fig.tight_layout()

plt.show()

,WEEK_ID,YEAR,WEEK,NO_QR,CENTROID Y,CENTROID X,nb_logements,prop_log_sociaux,NB_EXTERMINATIONS,NB_EXTERMINATIONS_2,...,tot_rain_2w,tot_snow_2w,nb_j_t_sup20_2w,nb_j_t_sup25_2w,nb_j_t_sup30_2w,nb_j_t_inf_10_2w,nb_j_t_inf_0_2w,nb_jt__inf_m5_2w,nb_j_t_inf_m10_2w,nb_j_precip_sup_5_2w
2387,201205.0,2012,5,01,5.042804e+06,287272.188340,10302.0,9.735974,0.000000,0.000000,...,2.377778,0.877778,0.0,0.0,0.0,4.666667,4.666667,3.888889,3.055556,0.500000
2388,201205.0,2012,5,02,5.044104e+06,290709.021046,12597.0,3.699293,0.000079,0.000079,...,2.377778,0.877778,0.0,0.0,0.0,4.666667,4.666667,3.888889,3.055556,0.500000
2389,201205.0,2012,5,03,5.044838e+06,291819.279338,9092.0,3.134624,0.000110,0.000220,...,2.377778,0.877778,0.0,0.0,0.0,4.666667,4.666667,3.888889,3.055556,0.500000
2390,201205.0,2012,5,04,5.046482e+06,292279.689640,13129.0,5.651611,0.000152,0.000152,...,2.377778,0.877778,0.0,0.0,0.0,4.666667,4.666667,3.888889,3.055556,0.500000
2391,201205.0,2012,5,05,5.045901e+06,293776.158620,9793.0,11.569488,0.000000,0.000000,...,2.377778,0.877778,0.0,0.0,0.0,4.666667,4.666667,3.888889,3.055556,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29486,201852.0,2018,52,71,5.035926e+06,273710.106465,11068.0,0.740875,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,1.928571,1.785714,1.785714,1.142857,0.285714
29487,201852.0,2018,52,72,5.040678e+06,280007.597787,15234.0,8.546672,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,1.928571,1.785714,1.785714,1.142857,0.285714
29488,201852.0,2018,52,73,5.052513e+06,299700.921320,20127.0,2.002285,0.000000,0.000248,...,0.000000,0.000000,0.0,0.0,0.0,1.928571,1.785714,1.785714,1.142857,0.285714
29489,201852.0,2018,52,74,5.041753e+06,296311.674330,10309.0,0.902124,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,1.928571,1.785714,1.785714,1.142857,0.285714
29490,201852.0,2018,52,75,5.039407e+06,273880.484318,7190.0,0.166898,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,1.928571,1.785714,1.785714,1.142857,0.285714